@{
  Layout = "_Layout";
}

@model SweetSavoryTreats.Models.Flavor

<h4>Add a new Taste</h4>

<p>@Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Type)
    @Html.TextBoxFor(model => model.Type)
    <span asp-validation-for="Type" class="text-danger"></span>
    <input type="submit" value="Add a new treat" class="btn btn-primary" />
}
<p>@Html.ActionLink("Show all Taste", "Index")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>