@{
  Layout = "_Layout";
}

@using SweetSavoryTreats.Models
@model SweetSavoryTreats.Models.Taste

<h2>Taste Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>The current Taste isn't assigned to any treats yet.</p>
}
else
{
  <h4>The Current taste is assigned to the following treats</h4>
  <ul>
  @foreach (TasteTreat join in Model.JoinEntities)
    {
      <li>Treat: @join.Treat.Name</li>
    }
  </ul>
}

@if (User.Identity.IsAuthenticated)
{
  <p>@Html.ActionLink("Back to list", "Index")</p>
  <p>@Html.ActionLink("Edit Taste", "Edit", new { id = Model.TasteId })</p>
  <p>@Html.ActionLink("Delete Taste", "Delete", new { id = Model.TasteId })</p>
  <p>@Html.ActionLink("Add Taste", "AddTaste", new { id = Model.TasteId })</p>
}
@Html.ActionLink("Back to Home", "Index", "Home")