@{
  Layout = "_Layout";
}

@model SweetSavoryTreats.Models.Flavor

<h2>Edit</h2>

<h4>Edit this taste: @Html.DisplayFor(model => model.Type)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TasteId)

  @Html.LabelFor(model => model.Type)
  @Html.EditorFor(model => model.Type)

  <input type="submit" value="Save" />
}

@if (User.Identity.IsAuthenticated)
{
  <p>@Html.ActionLink("Back to list", "Index")</p>
  <p>@Html.ActionLink("Edit Taste", "Edit", new { id = Model.TasteId })</p>
  <p>@Html.ActionLink("Delete taste", "Delete", new { id = Model.TasteId })</p>

}
<p>@Html.ActionLink("Home", "Index", "Home")</p>