@{
    Layout = "_Layout";
}

@model SweetSavoryTreats.Models.Treat

<h2>Elect a Taste </h2>

<h4>Select a Taste to complement the treat: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.Label("Pick a Taste:")
    @Html.DropDownList("TasteId")

    <input type="submit" value="Apply" />
}

<p>@Html.ActionLink("Return to the list", "Index")</p>
